.footer {
	background-color: var(--color-black);
	grid-area: footer;
	color: var(--color-white);
	padding: 1rem;
}
.footer div {
	padding: 0.7rem;
}
.footer__items-icons {
	padding: 0 0.8rem;
	cursor: pointer;
}
