/* ECOM CARD */
.vertical-card {
	margin: 1rem;
	display: flex;
	position: relative;
	flex-direction: column;
	width: 25rem;
	padding: 1rem;
	box-shadow: -1px 1px 15px 0px rgba(176, 176, 176, 1);
}

.card-img {
	width: 100%;
	position: relative;
}

.card-text {
	font-size: 1.4rem;
	margin: 1rem;
}

.card-btn {
	display: flex;
	margin: 1rem 0;
}

.card-title {
	margin: 1rem 0;
}

/* CARD PRICE FOR ECOM */
.card-price-striked {
	text-decoration: line-through;
	margin: 1rem;
	font-size: 1.3rem;
	color: var(--color-grey-dark);
}

.card-price {
	font-size: 1.6rem;
	color: var(--color-yellow-dark);
}

/* BLOG CARD */
.card-container {
	display: flex;
	flex-direction: column;
	margin: 1rem;
	padding: 1rem;
	width: 36rem;
	position: relative;
	background-color: var(--color-white);
	-webkit-box-shadow: -1px 1px 15px 0px rgba(176, 176, 176, 1);
	-moz-box-shadow: -1px 1px 15px 0px rgba(176, 176, 176, 1);
	box-shadow: -1px 1px 15px 0px rgba(176, 176, 176, 1);
}

.img-box {
	width: 100%;
}

.card-heading-primary {
	margin: 0;
}

.card-heading-sub {
	color: var(--color-grey-dark);
	margin: 0;
}

.card-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.overlay {
	position: absolute;
	color: var(--color-white);
	top: 50%;
	left: 6%;
}

.heading-top {
	order: -1;
}

.flex {
	display: flex;
}

.small-img {
	width: 25%;
}

/* SMALL CARD MARGIN */
.card-header-small {
	margin-left: 1rem;
}

/* CARD BADGE */
.card-badge {
	position: absolute;
	background-color: var(--color-yellow-dark);
	color: var(--color-white);
	padding: 7px 1.3rem;
}

/* CARD DISMISS BTN */
.card-dismiss {
	position: absolute;
	color: var(--color-white);
	padding: 7px 1.3rem;
	padding: 7px 1.3rem;
	right: 0;
	cursor: pointer;
}
