/* BG OVERLAY */
.modal-box {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s ease-in-out;
}

/* MODAL*/
.modal {
    width: 50rem;
    background-color: var(--color-grey-light-2);
    top: 25%;
    left: 33%;
    position: fixed;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 2rem;
    border-radius: 3px;
}
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.modal-footer {
    display: flex;
    justify-content: flex-end;
}

/* FOR FUNCTIONALITY */
.show-modal {
    opacity: 1;
    pointer-events: auto;
}