*,
*::after,
*::before {
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
}

/* VARIABLES */
:root {
	/* --color-primary: #55c57a; */
	--color-primary: #5271ff;
	--color-primary-light: #52b9ff;
	--color-primary-dark: #2703A7;

	/* ALerts */
	--color-red: #fed7d7;
	--color-red-dark: #e53e3e;

	--color-green: #c6f6d5;
	--color-green-dark: #38a169;

	--color-blue: #bee3f8;
	--color-blue-dark: #3182ce;

	--color-yellow: #feebc8;
	--color-yellow-dark: #dd6b20;

	--color-font-primary: #3e4152;

	--color-secondary-light: #ffb900;
	--color-secondary-dark: #ff7730;
	

	--color-tertiary-light: #2998ff;
	--color-tertiary-dark: #5643fa;

	--color-purple-light: #ce93d8;
	--color-purple-dark: #9c27b0 ;
	--color-purple-dark-2: #4a148c ;

	--color-grey-light-1: #f7f7f7;
	--color-grey-light-2: #eee;

	--color-grey-dark: #777;
	--color-grey-dark-2: #999;
	--color-grey-dark-3: #333;

	--color-white: #fff;
	--color-black: #2f2e41;
}
* {
	box-sizing: border-box;
	

}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
	color: inherit;
}
body {
	font-family: 'Roboto', sans-serif;
	
}
/* width */
::-webkit-scrollbar {
	width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: var(--color-yellow-dark); 
	border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: var(--color-secondary-dark); 
  }
@media only screen and (max-width: 800px) {
	html {
		font-size: 43.75%;
	}
}
