/* ------BUTTON---------- */
.hamburger-nav{
	z-index: 100000;
}
.hamburger__button {
	background-color: var(--color-yellow-dark);
	height: 7rem;
	width: 7rem;
	position: fixed;
	top: 0rem;
	right: 0rem;
	/* border-radius: 50%; */
	z-index: 2000;
	box-shadow: 0 1rem 3rem rgba(var(--color-black), 0.1);
	text-align: center;
	cursor: pointer;
	transition: ease-in 0.25s;
}
.hamburger__button:hover .hamburger__icon::before {
	top: -1rem;
}

.hamburger__button:hover .hamburger__icon::after {
	top: 1rem;
}
/* -------BACKGROUND ---------*/
.hamburger__background {
	height: 6rem;
	width: 6rem;
	border-radius: 50%;
	position: fixed;
	top: -3rem;
	right: -7rem;
	background-image: radial-gradient(
		var(--color-secondary-light),
		var(--color-yellow-dark)
	);
	overflow: auto;
	z-index: 1000;
	transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}
.hamburger__nav {
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1500;

	opacity: 0;
	width: 0;
	transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
/* -----LIST ITEMS---- */
.hamburger__list {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	list-style: none;
	text-align: center;
	width: 100%;
	width: 100vw; /* viewport width */
    height: 100vh; /* viewport height */
    overflow-y: scroll;
    overflow-x: hidden;
	
	padding: 2rem;
}
.hamburger__item {
	margin: 0.8rem;
}
/* -------------------- */
.hamburger__link:link,
.hamburger__link:visited {
	color: var(--color-white);
	display: inline-block;
	font-size: 3rem;
	font-weight: 300;
	padding: 1rem 2rem;
	text-decoration: none;
	text-transform: uppercase;
	background-image: linear-gradient(
		120deg,
		transparent 0%,
		transparent 50%,
		var(--color-white) 50%
	);
	background-size: 220%;
	transition: all 0.4s;
}
.hamburger__link:link,
.hamburger__link:visited span {
	margin-right: 1.5rem;
	display: inline-block;
}
.hamburger__link:hover,
.hamburger__link:active {
	background-position: 100%;

	color: var(--color-yellow-dark);
	transform: translateX(1rem);
}
/* FUNCTIONALITY -- ONCLICK */
.hamburger__background--active {
	transform: scale(80);
}

.hamburger__nav--active {
	opacity: 1;
	width: 100%;
}
/* ------ICON---------- */
.hamburger__icon {
	position: relative;
	margin-top: 3.5rem;
}
.hamburger__icon,
.hamburger__icon::before,
.hamburger__icon::after {
	width: 3rem;
	height: 2px;
	background-color: var(--color-grey-dark-3);
	display: inline-block;
}

.hamburger__icon::before,
.hamburger__icon::after {
	content: '';
	position: absolute;
	left: 0;
	transition: all 0.2s;
}

.hamburger__icon::before {
	top: -0.8rem;
}
.hamburger__icon::after {
	top: 0.8rem;
}
.hamburger__checkbox:checked + .hamburger__button .hamburger__icon {
	background-color: transparent;
}

/* .hamburger__checkbox:checked + .hamburger__button .hamburger__icon::before {
	top: 0;
	transform: rotate(135deg);
}
.hamburger__checkbox:checked + .hamburger__button .hamburger__icon::after {
	top: 0;
	transform: rotate(-135deg);
} */